@model ZabolNET.ViewModels.ChooseViewModel


<div style="height: 100%">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <h2 style="text-align:center" class="TextStyle">Wybierz swoją grupę</h2>
        </div>
        <div class="col-sm-3"></div>
    </div>


    <div class="row">
        <div class="col-sm-2"> </div>
        <div class="col-sm-8" style="text-align:center" >
            <ul style="list-style-type:none;">
            @if (Model != null)
            {
               foreach (var el in Model.Year.Groups)
               {
                <li style="border: dashed"><button type="button" class="btn btn-primary btn-block">@el.GroupName</button></li>
               }
            }
            </ul>
        </div>
        <div class="col-sm-2"> </div>

    </div>
</div>