@model List<string>
 
<link href="~/Content/Site.css" rel="stylesheet" />
   <div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <h2 style="margin: 30px;text-align:center; animation: ease-in" class="TextStyle">Wybierz swój wydział</h2>
            </div>
            <div class="col-sm-3"></div>
        </div>


        <div class="row">
            <div class="col-sm-3"> </div>
            <div class="col-sm-6" style="text-align:center;">
                <ul style="list-style-type: none;">
                    @foreach (var el in Model)
                    {
                        <li><button type="button" style="background-color: #00708C !important; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;  font-size: 24px; color: white" class="btn btn-primary btn-block">@el</button></li>
                        <li style="height: 10px"></li>
                    }
                </ul>
                <button class="button" style="float: right">Dalej</button>
            </div>
            <div class="col-sm-3"> </div>
        </div>
    </div>
